.box {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    background-color:red;
}